@charset "utf-8";
/* CSS Document */
@media screen and (max-width: 980px) {
	.form-row .label-field{width:260px;}
	.nav{position:fixed; top:0; left:0; width:250px; z-index:999; background:rgb(245,245,245); box-shadow:0 0 10px rgba(0, 0, 0, 0.5); height:100%; transition:all .5s ease; margin-left:-250px;}
	.nav li{display:block; margin:10px 0;}
	.mobile-menu{display:inline-block; background:#fff url(../images/icon-mobile-nav.jpg) no-repeat; width:32px; height:28px; position:absolute; top:75px; right:40px;}
	.nav.open{margin-left:0;}
	.page-filter .select, .page-filter .text{width:32.3%!important; float:left; display:inherit; margin-bottom:10px;}
	.page-filter .btn.pull-right{float:left!important;}
	.white-wrapper{border-radius:5px;}
	.btn{min-width:100px;}
	.form-row .input-box.dimensions{width:260px;}
	.nav li a.active:after{border-bottom: 10px solid rgba(0, 0, 0, 0); border-right: 10px solid rgb(16, 106, 164);  border-top: 10px solid rgba(0, 0, 0, 0); bottom: 12px; content: ""; display: block; height: 0; position: absolute; right: 0; width: 0; z-index: 99; left:auto;}
	.small-filter{text-align:left;}
	.page-filter .select, .page-filter .text{float:none; display:inline-block;}
	.form-row .input-box.phone-number a{position:static;}
	.add-product .product-list{padding-left:0;}
	.product-list .form-row .input-box.product-name{width:20%;}
	.product-list .form-row .input-box.product-qty, .product-list .form-row .input-box.product-price{width:10%;}
	.product-list .form-row .input-box{margin-right:25px;}
	.form-row .input-box.add-gift-des{width:260px;}
	.page-filter.text-right{text-align:left;}
}

@media screen and (min-width:320px) and (max-width:480px) {
	.login-wrapper{padding:0 10px;}
	.login-bottom{text-align:left; padding:0; font-size:20px;}
	.login-button{padding:20px 0 0 0; text-align:center;}
	.login-button input[type="submit"]{width:100%;}
	.admin-wrapper{padding:10px;}
	.white-wrapper{padding:20px;}
	.table-footer{text-align:center;}
	.table-footer .pull-left, .table-footer  .table-pagination{float:none!important;}
	.table-footer .table-pagination{padding-top:25px;}
	.add-notification-table{width:100%!important;}
	.notification-filter{position:static; margin-bottom:10px;}
	.add-notification-wrapper .form-row .input-box{width:100%; margin-top:10px;}
	.page-head h2{padding-bottom:10px;}
	.view-buttons{width:45%;}
	.view-buttons a{width:100%;}
	.form-row .label-field{padding-bottom:10px;}
	.subadmin .small-filter{text-align:right;}
	.subadmin .small-filter .width{width:50%;}
	.subadmin .seprator{display:none;}
	.subadmin .btn{width:46%;}
	.subadmin .margin-top{margin-top:10px;}
	.orders .page-filter .select, .page-filter .text{width:49%!important;}
	.orders .page-filter span{display:none;}
	.view-buttons{position:static; margin-top:20px; width:100%;}
	.view-buttons a::after{content:'';}
	.view-buttons a{width:100%; border-radius:10px;}
	.product-list .form-row .label-field{display:block;}
	.product-list .form-row .input-box.product-name, .product-list .form-row .input-box.product-qty, .product-list .form-row .input-box.product-price{width:260px;}
	.input_fields_wrap{overflow:visible;}
	.select-all-search .pull-left, .select-all-search .pull-right{float:none!important;}
	.select-all-search .input-field{width:100%;}
	.select-all-search .btn{margin-left:0; margin-top:10px;}
	.jspHorizontalBar{display:none;}
}

@media screen and (min-width:320px) and (max-width:360px) {
	.admin-header{text-align:center;}
	.admin-logo, .admin-logout{float:none;}
	.mobile-menu{right:35px; top:135px;}
}